#wrapper {
  background-color: #F2F2F2;
  font-family: Verdana;
}

.container {
  height: 280px;
}

.backgplots {
  background-color: #FFFFFF;
  font-family: Verdana;
}

.backgcol {
  background-color: #FFFFFF;
  font-family: Verdana;
}

.form-control-primary {
  margin: 10px;
  opacity: 0.2;
  border-radius: 2px;
}

.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  z-index: 100;
  padding: 70px 0 0 10px;
  border-right: 1px solid #d3d3d3;
}

.left-sidebar {
  position: sticky;
  top:0;
  height: calc(100vh - 70px)
}

.sidebar-nav li .nav-link {
  color: #333;
  font-weight: 500;
}
